# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db

# composer vendor dir
composer.lock

# composer itself is not needed
# composer.phar

# Mac DS_Store Files
.DS_Store
db.sqlite

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

runtime/
testdb/
web/upload/*
tests/_support/_generated/*
web/files/*
web/testfiles/*
dump.sql
